@for $i from 1 through $columns {
    .col-#{$i} {
        width: (100% / 12) *$i;
        flex: 0 0 (100% / 12) *$i;
    }

    @include responsive(785px) {
        .col-#{$i} {
            width: 100%;
            flex: 0 0 100%;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}